@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Mukta:wght@400;500;600;700;800&family=Nunito:wght@200..1000&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #ffffffb7;
	--text-color-secondary: #ffffff75;
	--text-shadow-color: #ffe6f7;
	--links-bg-color: rgba(255, 0, 98, 0.45);
	--links-bg-color-hover: rgba(168, 0, 53, 0.85);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100svh;
	background-color: #000;
	font-family: 'Nunito', sans-serif;
	color: var(--text-color);
	border: 0;
	overflow: hidden;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
	background-color: #000;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;
}

.loading svg polyline {
	fill: none;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.loading svg polyline#back {
	fill: none;
	stroke: #ff4d5033;
}

.loading svg polyline#front {
	fill: none;
	stroke: #ff4d4f;
	stroke-dasharray: 48, 144;
	stroke-dashoffset: 192;
	animation: dash 1.4s linear infinite;
}

@keyframes dash {
	72.5% {
		opacity: 0;
	}

	to {
		stroke-dashoffset: 0;
	}
}

.music-prefer {
	margin: 0 25px;
}

.music-prefer-question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 32px 45px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	opacity: 0;
	transition: 0.5s;
	animation: fade-in 1.2s 0.5s ease-in forwards;
}

.music-prefer-question:hover {
	box-shadow: 0 0 55px rgba(200, 250, 255, 0.4);
}

.music-prefer-question h2 {
	text-align: center;
	text-wrap: pretty;
	font-size: 20px;
	font-family: 'Mukta', sans-serif;
	color: var(--text-color);
}

.music-prefer-buttons {
	display: flex;
	flex-direction: row;
	gap: 35px;
}

.music-prefer-question button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 6px 40px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
	font-family: 'Mukta', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #ffffffde;
	transition: 0.2s;
	-webkit-tap-highlight-color: transparent;
}

.music-prefer-question button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0 5px 15px rgba(182, 182, 182, 0.25);
}

#background {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -1;
	object-fit: cover;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	filter: brightness(30%) blur(4px);
}

.blur-animation {
	animation: blur 3s 0s ease-out forwards;
}

.wrapper {
	display: none;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sub-text {
	margin-bottom: -34px;
	z-index: 1;
	font-family: 'Kiwi Maru', serif;
	letter-spacing: 8px;
	font-size: 16px;
	color: var(--text-color-secondary);
	text-shadow: var(--text-shadow-color) 0 0 55px;
	opacity: 0;
	filter: blur(3px);
	scale: 0.9;
	animation:
		fade-in 1.5s 0.8s ease-in forwards,
		scale 1.5s 0.8s ease-out forwards;
}

.main-text {
	margin-bottom: -28px;
	z-index: 0;
	font-family: 'Mukta', sans-serif;
	font-size: 5rem;
	font-weight: 800;
	user-select: none;
	text-shadow: var(--text-shadow-color) 0 0 55px;
	opacity: 0;
	filter: blur(3px);
	scale: 0.8;
	animation:
		fade-in 1.5s 0s ease-in forwards,
		scale 1.5s 0s ease-out forwards;
}

.blocks {
	display: flex;
	gap: 10px;
	z-index: 1;
	user-select: none;
}

.blocks a {
	display: flex;
	align-items: center;
	gap: 6px;
	border-radius: 12px;
	background-color: var(--links-bg-color);
	padding: 3px 20px 3px 14px;
	text-decoration: none;
	color: var(--text-color);
	box-shadow: 0 0 40px #b10035;
	opacity: 0;
	filter: blur(3px);
	scale: 0.6;
	transition: 0.2s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.blocks a:hover {
	background-color: var(--links-bg-color-hover);
	transform: scale(1.05);
}

.logo {
	height: 14px;
	filter: invert(1) opacity(0.7);
}

.steamlink {
	animation:
		fade-in 1.6s 1.5s ease-in-out forwards,
		scale 1.6s 1.5s ease-out forwards;
}

.tglink {
	animation:
		fade-in 1.6s 1.8s ease-in-out forwards,
		scale 1.6s 1.8s ease-out forwards;
}

.spotifylink {
	animation:
		fade-in 1.6s 2.1s ease-in-out forwards,
		scale 1.6s 2.1s ease-out forwards;
}

.near {
	position: absolute;
	left: 4vh;
	bottom: 3.5vh;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 20px 10px 10px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 100px;
	backdrop-filter: blur(8px);
	user-select: none;
}

.near img {
	border-radius: 100px;
	width: 8vh;
	height: 8vh;
	filter: opacity(0.85);
	margin-right: 10px;
}

.near span {
	color: rgb(255, 0, 0);
	text-shadow: 0 0 2px #ff0000;
}

.near p {
	font-family: 'Mukta', sans-serif;
	font-size: 20px;
	line-height: 135%;
	width: 72vh;
	text-align: justify;
	word-spacing: -1px;
	color: #ffffffcc;
}

.btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	position: absolute;
	right: 3vh;
	bottom: 2vh;
	opacity: 0;
	filter: blur(3px);
	animation: fade-in 1s 0.3s ease forwards;
}

.btns button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btns i {
	padding: 6px;
	font-size: 24px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 50px;
	color: rgba(255, 255, 255, 0.3);
	transition: 0.2s;
}

.btns:hover i {
	border: 2px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.2);
}

.btns:hover input {
	visibility: visible;
	opacity: 1;
	transform: translateY(0) scaleY(1);
}

.btns input {
	visibility: hidden;
	opacity: 0;
	transform: translateY(5%) scaleY(0.8);
	transform-origin: bottom;
	appearance: none;
	writing-mode: vertical-lr;
	direction: rtl;
	height: 80px;
	width: 6px;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 16px;
	transition: 0.2s ease-in-out;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btns input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 12px;
	width: 12px;
	background-color: rgba(200, 200, 200, 0.9);
	border-radius: 50%;
	transition: 0.1s ease-in-out;
}

.btns input:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

@media (max-width: 300px) {
	.music-prefer-buttons {
		flex-direction: column;
		gap: 15px;
	}
}

@media (max-width: 345px) {
	.blocks {
		margin-top: 20px;
		gap: 25px;
		flex-direction: column;
	}

	.blocks a {
		padding: 8px 55px;
		gap: 35px;
		justify-content: center;
		font-weight: 600;
	}

	.blocks a:hover {
		transform: scale(1.15);
	}

	.logo {
		position: absolute;
		height: 20px;
		left: 8px;
	}
}

@media (max-width: 437px) {
	.music-prefer-question h2 {
		font-size: 16px;
	}
}

@media (max-width: 514px) {
	.music-prefer-question {
		padding: 30px 25px;
	}

	.music-prefer-question h2 {
		font-size: 18px;
	}

	.music-prefer-question button {
		padding: 6px 35px;
	}

	.music-prefer-buttons {
		gap: 15px;
	}
	.btns input {
		display: none;
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 55px rgba(200, 250, 255, 0.4);
	}
	50% {
		box-shadow: 0 0 65px rgba(186, 247, 255, 0.2);
	}
	100% {
		box-shadow: 0 0 55px rgba(200, 250, 255, 0.4);
	}
}

@keyframes blur {
	100% {
		filter: brightness(30%) blur(0);
	}
}

@keyframes fade-in {
	100% {
		opacity: 1;
		filter: blur(0);
	}
}

@keyframes scale {
	100% {
		scale: 1;
	}
}
